*,
::before,
::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 15px;
    background-image: url(https://png.pngtree.com/background/20210711/original/pngtree-paper-cannabis-leaves-background-picture-image_1159265.jpg);
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    height: 100vh;
    color: #ddddef;
    font-size: 28px;
    line-height: 1.3;
    font-size: bold;
}
h1, h2 {
    margin: 20px 0;
    font-size: 30px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;   
}

#buttons {
    display: grid;
    grid-template-columns: 280px;
    grid-template-rows: auto;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    grid-gap: 20px;
    margin-top: 50px;
}
.btn {
    padding: 10px;
    font-size: 30px;
    background-color: rgb(130, 44, 210);
    color: #fff5f5;
    border: none;
    border-radius: 10px;
    margin-bottom: 30px;
    transition: all 0.5s;
    cursor: pointer;
    
}
.btn:hover {
    background-color: rgb(116, 145, 11);
}
p{
    margin: 0;
}

/* Tablet */
@media (min-width: 768px) {
    #buttons {
        grid-template-columns: 240px 240px 240px;
        grid-template-rows: auto;
    }
    body {
        font-size: 36px;
        line-height: 1.7;
    }
    h1, h2 {
        margin: 20px 0;
        font-size: 48px;
    }
}